@tailwind base;
@tailwind components;
@tailwind utilities;

label{
    color: #333;
    margin-right: 0.5rem;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1rem;
    margin-bottom: 0.3rem;
}

.joinButton{
    color: #fff;
    background-color: #7c3aed;
    font-weight: 500;
    border-radius: 1rem;
    font-size: 0.875rem;
    padding:  0.5rem 1rem;
    text-align: center;
    margin-bottom: 2.5rem;

    &:hover{
        background-color: #6a28b7;
    }
}