@tailwind base;
@tailwind components;
@tailwind utilities;

label{
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
}

input{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
    &:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-border-opacity: 1;
        border-color: rgb(59 130 246 / var(--tw-border-opacity));
    }
    
}

button{
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 250ms ease-in-out;

    &:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}